extends layout

block content
    h2 Dr.Suraj Kumar
    div
        h4 Physician Information
        ul.doc-info
            li FullName: Suraj Kumar
            li Accepting new Patients: Yes
            li Speciality/Category: cardiologist
            li Clinic-Name: Student Clinic
    div  
        h4 Practice Information
        ul.practice-info
            li Clinic Name: Student Clinic
            li Address: Rakkar Dharmshala Himachal Pradesh(456543)
            li Medicare Accepted: Yes
    br
    br
    a(href="/doctors") &lt; Go Back