extends layout

block content
    h2 Browse Doctors
    ul.docs
        li
            h3 Suraj kumar
            p Speciality: Cardiologist
            p Location: rakkar
            p
                a(href="doctors/details/1") &gt; Details
        li
            h3 Ankit kumar
            p Speciality: General
            p Location: dharmshala
            p
                a(href="doctors/details/2") &gt; Details
        li
            h3 Sachin kumar
            p Speciality: ENT
            p Location: rakkar
            p
                a(href="doctors/details/3") &gt; Details